<header style="margin-left: -3%; margin-right: -3%;">
    <link href="/css/header.css" rel="stylesheet">
    <div class="page-header">
        <div class="header-items">
            <img src="/images/brand-image.png" height="100%" width="50%" style="border-radius: 50%; margin-left: -45%;">
        </div>

        <div class="header-mid">
            <img src="/images/logo.png">
        </div>

        <div class="header-items">
            <% if (locals.user) {%>
                <a href="/logout" class="employee-details" style="margin-top:10% ;">
                <img src="/images/logout.png">
                </a>
            <%}%>
        </div>
        
    </div>
</header>