<header>
    <link href="/css/header.css" rel="stylesheet">
    <div class="page-header">
        <div class="header-items">
            <img src="/images/icon.jpg" height="100%" width="50%" style="border-radius: 50%;">
        </div>

        <div class="header-mid">
            <h1>Employee Review System</h1>
        </div>

        <div class="header-items">
            <% if (locals.user) {%>
                <%=locals.user%>
                <a href="/logout">Logout</a>
            <%}%>
        </div>
        
    </div>
</header>