<html>
    <head>
        <title>Login/ Sign-up</title>
        <link href="/css/home.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <div class="main-container">
            <div class="toggeler">
                <span class="heading" id="login">Login</span>
                <span class="heading" id="sign-up">Sign-Up</span>
            </div>
            <div class="form-container" id="login-form-container"> 
                <div >
                    <form action="/home" class="login-form" method="POST" id="login-form">
                        <input class="form-item" type="email" name="email" placeholder="Your Email">
                        <input class="form-item" type="password" name="password" placeholder="Your Password">
                        <input class="form-item" type="submit" value="Login" style="width:50%; align-self: center;">
                    </form>
                </div>
    
            </div>
    
            <div class="form-container" id="signup-form-container">
                <form action="/api/v1/employee/create" class="login-form" method="POST" id="signup-form" >
                    <input class="form-item" type="text" name="fullname" placeholder="Your Full Name">
                    <input class="form-item" type="email" name="email" placeholder="Your Email">
                    <input class="form-item" type="password" name="password" placeholder="Your Password">
                    <input class="form-item" type="password" placeholder="Confirm Password">
                    <input class="form-item" type="submit" value="Sign-Up Now" style="width:50%; align-self: center;">
                </form>
            </div>
        </div>
        
        <script src="/js/home.js"></script>
    </body>
</html>