<html>
    <head>
        <title>Login/ Sign-up</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link href="/css/login.css" rel="stylesheet">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <div class="main-container">
            <div class="toggeler">
                <span class="heading login" id="login">Login</span>
                <span class="heading sign-up" id="sign-up">Sign-Up</span>
            </div>
            <div class="form-container" id="login-form-container"> 
                <div >
                    <form action="/login" class="login-form" method="POST" id="login-form">
                        <input class="form-item" type="email" name="email" placeholder="Your Email">
                        <input class="form-item" type="password" name="password" placeholder="Your Password">
                        <input class="button" type="submit" value="Login" style="width:50%; align-self: center;">
                    </form>
                </div>
    
            </div>
    
            <div class="form-container" id="signup-form-container">
                <!--
                <form action="/employee/create" method="POST" class="login-form" id="signup-form">
                    <input class="form-item" type="text" name="name" placeholder="Employee Name">
                    <input class="form-item" type="email" name="email" placeholder="Employee Email">
                    <input class="form-item" type="password" name="password" placeholder="Password">
                    <input class="button" type="submit" value="Add Employee">
                </form>
                -->
                <form action="/employee/create" class="login-form" method="POST" id="signup-form" >
                    <input class="form-item" type="text" name="name" placeholder="Your Full Name">
                    <input class="form-item" type="password" name="password" placeholder="Your Password">
                    <div>
                        <input height="1.3rem" class="form-item" type="checkbox" name="isAdmin"><label class="form-item"> Sign up as Admin?</label>
                    </div>
                    <input type="text" hidden id="userid" name="userid">
                    <input class="button" id="submit-sign-up" type="submit" value="Sign-Up Now" style="width:50%; align-self: center;">
                </form>
                
                <div id="unverified">
                    <input class="form-item" style="margin-top: 20%;" type="email" name="email" placeholder="Your Email" id="email">
                    <input class="button" type="button" value="Get OTP" id="get-otp">
                    <input type="number" name="otp" class="form-item" id="otp" placeholder="OTP">
                    <input class="button" type="button" value="Verify" id="verify-button">
                </div>
                

            </div>

            

        </div>
        
        
        <script src="/js/login.js"></script>
        <!--
        
        -->
    </body>
</html>