.page-header{
    height: 15%;
    background-color:  rgb(0, 32, 67);
    display: flex;
    justify-content: center;
    margin: -1%;
    padding: 0%;
}

.header-items{
    width: 15%;
    height: 100%;
    text-align: center;
    color: #bcbcf7
    /*
    margin-left: 3%;
    margin-right: 3%;
    display: inline;
    font-size: 1.5rem;
    */
    
}
.header-mid{
    width: 60%;
    height: 100%;
    text-align: center;
    color: #bdbde3;
}

.header-items a{
    text-decoration: none;
}



.icon{
    height: 100%;
    width: 8%;
    border-radius: 50%;
}