.employee-details{
    width: 17%;
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1%;
    border: none;
}

#allEmployee{
    list-style: none;
}

.reviewText{
    margin-bottom: -1%;
}

.button{
    font-size: 1.3rem;
}

.review-details{
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
    width: 22%;
    top: 0%;
    vertical-align: middle;
}

.review-content{
    display: inline-block;
    width: 50%;
    top: 0%;
    vertical-align: middle;

}
.review{
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    border: 1px solid black;
    margin-top: 0.5%;
    height: auto;
}

.hide{
    display: none;
}

.update{
    display: none;
}