
.main-container{
    border: 1px solid black;
    width: 40%;
}

.form-container{
    display: flex;
    flex-direction: column;
    
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.form-item{
    margin: 4%;
    font-size: 1.5rem;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    color: azure;
}

.heading{
    font-size: 2rem;
    display: inline;
    width: 50%;
    text-align: center;
    border-radius: 1.5rem;
}



.login{
    background-color: rgb(32, 143, 69);
}
.toggeler{
    display: flex;
    justify-content:space-between;
    margin-top: 7%;
    border-radius: 1.5rem;
    border: 1px solid rgb(32, 143, 69);
}

#signup-form-container{
    display: none;
}

.button{
    font-size: 1.3rem;
    background-color: rgb(45 72 73);
    border-radius: 1.3rem;
}